---
title: Contenidos de la comunidad
---
{% include header.html %}
  <div class="app-brief blog">
    <div class="container">
      <div class="col-md-8 col-md-push-2 left-align">
        <h1 class="text-muted">Contenidos de la comunidad</h1>
        {% for article in site.posts %}
          <div class="post">
            <h4><a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }}</a></h4>
            <div class="description">{{ article.description }}</div>
            <div class="read-more"><a href="{{ site.baseurl }}{{ article.url }}">Leer más</a></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% include footer.html %}